/* NAVBAR START */
#Navbar{
    list-style-type: none;
    text-decoration: none;
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    width: 100%;
}
li{
    float: left;
    background-color: #f2f2f2;
    text-decoration: none;
}
li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
}
li a:hover{
    background-color: rgb(42, 156, 7);
}
.active{
    background-color: teal;
}
/*NAVBAR END */

/*HEADER START */
#Title{
    text-align: center;
}
p{
    text-align: center;
}
/*HEADER END */

.footer{
    background-color: #F1F1F1;
    align-items: center;
}
/*FOOTER END */